# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: e3090f31321a84a838d92cb257fcdf6bd8d1b9875ba7ea8321811e80222819b47c77c1c42dfca81fc3c9236901c1f6fa760d50dc23eca1dd4dd519bb41cb5d92

test:
  secret_key_base: 914f8dbdead48858ab50885128ca8149e7a63ccdece2c7aa95a8e853fb6d231218142951716923f8d1bc597302c19e4c97edc3510d416b00ef01ea4e2d77915a

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
